<div class="loggedin-head">
    <h4 class="full-name">{{userInfo.full_name}}</h4>
    <span class="down-arrow glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
    <img class="profile-pic"src="{{userInfo.profile_picture}}">
</div>
