<html>
<head>
    <title>This is the index page!</title>
    <link href="/styles/index.css" rel="stylesheet">
</head>
<body>
    <header class="nav-head">
        <div class="inner">
            <a class="logo" href="/">Instalytics</a>
            {{#if notLoggedIn }}
                <a class="login btn" href="/authorize-user">Login</a>
            {{/if}}
        </div>
    </header>
    {{{ body }}}
</div>
</body>
</html>
