.inner {
    margin: 0 auto;
    max-width: 980px;
}

.nav-head {
    background: $color-black;

    .inner {
        position: relative;
    }

    .log-in-out {
        right: 0;
        position: absolute;
        top: 50%;
          transform: translateY(-50%);

    }

    .logo {
        width: 102px;
        height: 65px;
        display: inline-block;
        text-indent: -9999px;
        background-color: $color-blue;
        //background-image: url("/img/instalytics-logo.png");
    }
}


